# Archivos de sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
.venv/

# Notebooks temporales
*.nbconvert.ipynb

# Archivos ocultos de Jupyter
.ipynb_checkpoints/

# Archivos creados por VS Code
.vscode/

# Archivos grandes o sensibles
*.csv
*.xlsx
*.zip
*.bak


# Puedes ajustar esto según tu proyecto. Si quieres subir tus datasets .csv, 
# simplemente quita esa línea del .gitignore.